.footer
{
  background-color: #f31346;
  min-height: 5rem;
  margin-top:2rem;

}
.darker
{
  background-color: #441122;

}
.grey
{
  color:#ddcccc;
}
.small-font
{
  font-size:12px;
}
.dark
{
 background-color: #552233;
}
.padding-top{
  padding: 2rem;
}
.white
{
  color: #ffffff
}
.col-md-4
{
  min-width: 5rem;
  padding:0;
  margin:0;
}
